/* download-button.css */

/* Estilo para el botón circular de descarga */
.download-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #7c5438;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1001;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #927c00;
}
