/* Estilos generales */
body {
    display: flex;
    flex-direction: column; /* Alinea los SVGs verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}

.svg-container {
    width: 95%;  /* Ajusta el ancho del contenedor del SVG */
    max-width: 500px;  /* Limita el ancho máximo a 500px */
    margin-bottom: 20px;  /* Añade un espacio entre los SVGs */
}

svg {
    width: 100%;
    height: auto;
    max-height: 90vh;
}

/* Estilos para los colores del primer SVG */
.cls-1 { fill: #070706; }
.cls-2 { fill: #f53a3a; }
.cls-3 { fill: #5865ff; }
.cls-4 { fill: #fff; }
.cls-5 { fill: #facd01; }
.cls-6 { fill: #45b02f; }
.cls-7 { fill: #d951ff; }
.cls-8 { fill: #f78519; }
.cls-9 {
    fill: none;
    stroke: #636363;
    stroke-miterlimit: 10;
    stroke-width: .25px;
}
.cls-10 { fill: #50b0ff; }
.cls-11 { fill: #ae9890; }

/* Estilos para los colores del segundo SVG (Cuerpo Posterior) */
#Capa_2_posterior .cls-1 { fill: #070706; }
#Capa_2_posterior .cls-2 { fill: #5865ff; }
#Capa_2_posterior .cls-3 { fill: #fff; }
#Capa_2_posterior .cls-4 { fill: #facd01; }
#Capa_2_posterior .cls-5 { fill: #45b02f; }
#Capa_2_posterior .cls-6 { fill: #f78519; }
#Capa_2_posterior .cls-7 { fill: #50b0ff; }
