/* Estilos generales */
body {
    display: flex;
    flex-direction: column; /* Alinea los SVGs verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaciado interno más amplio en los lados */
    background-color: #7c5438; /* Fondo del header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el header */
    width: 100%; /* Ajustar la anchura del header al 100% del viewport */
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

.material-symbols-outlined {
    font-size: 30px; /* Tamaño del icono */
    color: #CAB5A4; /* Color por defecto para los iconos */
    cursor: pointer; /* Muestra que son interactivos */
    margin: 0 15px; /* Separar los íconos de los bordes del header */
}

.material-symbols-outlined:hover {
    color: #927c00; /* Color dorado suave al pasar el cursor */
}

.logo {
    width: 100px; /* Tamaño del logo */
    height: auto;
}

.main-title {
    font-family: 'Carlito', sans-serif;
    color: #7c5438; /* Cambia el color según prefieras */
    text-align: center;
    margin-top: 50px;
    font-size: 32px; /* Tamaño del título */


}


.svg-container {
    width: 95%;  /* Ajusta el ancho del contenedor del SVG */
    max-width: 500px;  /* Limita el ancho máximo a 500px */
    margin-bottom: 20px;  /* Añade un espacio entre los SVGs */
    margin-top: 20px;  /* Añade un espacio entre los SVGs */

}

svg {
    width: 100%;
    height: auto;
    max-height: 90vh;
}

/* Estilos para los colores del primer SVG */
.cls-1 { fill: #E2D1CC; }
.cls-2 { fill: #db371f; }
.cls-3 { fill: #844695; }
.cls-4 { fill: #fff; }
.cls-5 { fill: #fece04; }
.cls-6 { fill: #42ad4c; }
.cls-7 { fill: #7373B4; }
.cls-8 { fill: #F08318; }
.cls-9 {
    fill: none;
    stroke: #7c5438;
    stroke-miterlimit: 10;
    stroke-width: .5px;
}
.cls-10 { fill: #2BB9D4; }
.cls-11 { fill: #ae9890; }

/* Estilos para los colores del segundo SVG (Cuerpo Posterior) */
#Capa_2_posterior .cls-1 { fill: #E2D1CC; }
#Capa_2_posterior .cls-2 { fill: #844695; }
#Capa_2_posterior .cls-3 { fill: #fff; }
#Capa_2_posterior .cls-4 { fill: #fece04; }
#Capa_2_posterior .cls-5 { fill: #42ad4c; }
#Capa_2_posterior .cls-6 { fill: #F08318; }
#Capa_2_posterior .cls-7 { fill: #2BB9D4; }

/* Estilos para los menús de opciones */
.chakra-options {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    width: 150px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.options-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.circle-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Clase para ocultar elementos */
.hidden {
    display: none;
}
