/* Estilos generales */
body {
    display: flex;
    flex-direction: column; /* Alinea los SVGs verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}

.header {
    position: fixed; /* Fija el header en la parte superior */
    top: 0; /* Posición en la parte superior */
    left: 0;
    width: 100%; /* Ajustar la anchura del header al 100% del viewport */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaciado interno más amplio en los lados */
    background-color: #7c5438; /* Fondo del header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el header */
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
    z-index: 1000; /* Asegura que el header esté sobre otros elementos */
}


.material-symbols-outlined {
    font-size: 30px; /* Tamaño del icono */
    color: #CAB5A4; /* Color por defecto para los iconos */
    cursor: pointer; /* Muestra que son interactivos */
    margin: 0 15px; /* Separar los íconos de los bordes del header */
}

.material-symbols-outlined:hover {
    color: #927c00; /* Color dorado suave al pasar el cursor */
}

.logo {
    width: 100px; /* Tamaño del logo */
    height: auto;
}

.main-title {
    font-family: 'Carlito', sans-serif;
    color: #7c5438; /* Cambia el color según prefieras */
    text-align: center;
    margin-top: 50px;
    font-size: 32px; /* Tamaño del título */
}

/* Estilo para el contenedor de la información personal */
.user-info-container {
    text-align: center;
    margin: 20px 0;
}

/* Estilos para el nombre del usuario */
.user-name {
    font-family: 'Carlito', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0;
    color: #7c5438; /* Ajusta el color según tu preferencia */
}

/* Estilos para la información del usuario */
.user-info {
    font-family: 'Carlito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 5px 0;
    color: #5A4633; /* Ajusta el color según tu preferencia */
}

.svg-container {
    width: 95%;  /* Ajusta el ancho del contenedor del SVG */
    max-width: 500px;  /* Limita el ancho máximo a 500px */
    margin: 20px 0;  /* Añade un espacio entre los SVGs */
    font-family: 'Carlito', sans-serif;
}

svg {
    width: 100%;
    height: auto;
    max-height: 90vh;
    background-color: transparent !important;

    
}

/* Estilos para los colores del primer SVG */
.cls-1 { fill: #E2D1CC; }
.cls-2 { fill: #db371f; }
.cls-3 { fill: #844695; }
.cls-4 { fill: none; }
.cls-5 { fill: #fece04; }
.cls-6 { fill: #42ad4c; }
.cls-7 { fill: #7373B4; }
.cls-8 { fill: #F08318; }
.cls-9 {
    fill: #7c5438;
    stroke: #7c5438;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
.cls-10 { fill: #2BB9D4; }
.cls-11 { fill: #ae9890; }

/* Estilos para los colores del segundo SVG (Cuerpo Posterior) */
#Capa_2_posterior .cls-1 { fill: #E2D1CC; }
#Capa_2_posterior .cls-2 { fill: #844695; }
#Capa_2_posterior .cls-3 { fill: #fff; }
#Capa_2_posterior .cls-4 { fill: #fece04; }
#Capa_2_posterior .cls-5 { fill: #42ad4c; }
#Capa_2_posterior .cls-6 { fill: #F08318; }
#Capa_2_posterior .cls-7 { fill: #2BB9D4; }

/* Estilos para los menús de opciones */
.chakra-options {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    width: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: 'Carlito', sans-serif;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Carlito', sans-serif;
}

.options-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los botones */
}

/* Estilo de los botones circulares */
.circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent; /* Borde transparente por defecto */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-button:hover {
    transform: scale(1.1);
}

/* Clase para el botón seleccionado */
.circle-button.selected {
    border: 4px solid transparent; /* Borde transparente por defecto */
    border-color: #000;
}

/* Clase para ocultar elementos */
.hidden {
    display: none;
}


.options-title {
    margin-top: 10px;
}

/* Estilos para los contenedores de botones con descripción */
.button-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para los textos descriptivos debajo de los botones */
  .button-description {
    font-size: 12px; /* Tamaño de fuente pequeño para el texto descriptivo */
    color: #333; /* Color del texto descriptivo */
    margin-top: 4px; /* Espacio entre el botón y el texto descriptivo */
  }
  

  .material-symbols-outlined {
    font-size: 24px; /* Ajusta el tamaño del icono según tus necesidades */
    color: #fff;
    z-index: 1000;
  }
  


  text#Chakra_x5F_Corona_Dir  {
    font-size: 14px; /* Ajusta el tamaño del icono según tus necesidades */
    color: #AE9890;
    z-index: 1000;
  }

  text#Chakra_x5F_Terce_x5F_Ojo_Dir {
    font-size: 14px; /* Ajusta el tamaño del icono según tus necesidades */
    color: #AE9890;
    z-index: 1000;
  }

  text#Chakra_x5F_Garganta_Dir {
    font-size: 14px; /* Ajusta el tamaño del icono según tus necesidades */
    color: #AE9890;
    z-index: 1000;
  }

  text#Chakra_x5F_Corazon_Dir {
    font-size: 14px; /* Ajusta el tamaño del icono según tus necesidades */
    color: #AE9890;
    z-index: 1000;
  }

  text#Chakra_x5F_Plexo_x5F_Solar_Dir {
    font-size: 14px; /* Ajusta el tamaño del icono según tus necesidades */
    color: #AE9890;
    z-index: 1000;
  }

  text#Chakra_x5F_Sacro_Dir {
    font-size: 14px; /* Ajusta el tamaño del icono según tus necesidades */
    color: #AE9890;
    z-index: 1000;
  }

  text#Chakra_x5F_Raiz_Dir {
    font-size: 14px; /* Ajusta el tamaño del icono según tus necesidades */
    color: #AE9890;
    z-index: 1000;
  }

  /* Estilo para el fondo del chakra al seleccionar estado "X" */
.chakra-background {
    fill: #AE9890; /* Cambia el color de fondo del chakra */
}


g#Polos_x5F_Delantero{
    fill: red!important;
}

.cuerpo_delantero {
margin-top: -20px;
z-index: 1000;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
font-family: 'Carlito', sans-serif;
color: #7c5438; /* Ajusta el color según tu preferencia */


}


body {
    padding-top: 80px; /* Ajusta este valor según la altura real de tu header */
}

.header {
    height: 80px; /* Asegúrate de que el header tenga una altura definida */
}
